@page "/counter"

@*@using Stripe;
@using Stripe.Checkout;*@

@inject NavigationManager NavManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCount2">Click me</button>

@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        //StripeConfiguration.ApiKey = "sk_test_51LsVy9CMu7ushuI6btDCb6r0zOd4IaT7hjNPKHF4xTIQLwNBf1o67KsejwQgj7G8GLzfC0hjn3FlpfmyuIoQgT0U004HIcrGb8";

        //var options = new SessionCreateOptions
        //    {
        //        LineItems = new List<SessionLineItemOptions>
        //        {
        //          new SessionLineItemOptions
        //          {
        //              Price = "price_1M5QoFCMu7ushuI6vsnEeC5N",

        //            //PriceData = new SessionLineItemPriceDataOptions
        //            //{
        //            //  UnitAmount = 2000,
        //            //  Currency = "usd",
        //            //  ProductData = new SessionLineItemPriceDataProductDataOptions
        //            //  {

        //            //  },
        //            //},
        //            Quantity = 1,
        //          },
        //        },
        //        Mode = "subscription",
        //        SuccessUrl = $"{NavManager.Uri}/success",
        //        CancelUrl = $"{NavManager.Uri}/cancel",
        //    };

        //var service = new SessionService();
        //Session session = await service.CreateAsync(options);

        //NavManager.NavigateTo(session.Url);

        //currentCount++;
    }

    private async void IncrementCount2()
    {
        //StripeConfiguration.ApiKey = "sk_test_51LsVy9CMu7ushuI6btDCb6r0zOd4IaT7hjNPKHF4xTIQLwNBf1o67KsejwQgj7G8GLzfC0hjn3FlpfmyuIoQgT0U004HIcrGb8";

        //var service = new ProductService();
        //var products = await service.ListAsync();

        //currentCount++;
    }
}
